body {
  background-color: rgb(200, 200, 200);
}

h1, h2 {
  color: #4F6367;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

p {
  opacity: 0.7;
  font-family: 'Nunito', sans-serif;
  text-align: center;
}

a {
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
  color: #FE5F55;
  text-align: center;
  display: block;
}

a:hover {
  color: #97ABAF;
}

i {
  font-size: 32px;
}

li {
  display: inline-block;
  list-style-type: none;
}

ul {
  text-align: center;
  margin-right: 32px;
}

#profile, img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div {
  background-color: rgb(225, 225, 225);
  width: 800px;
  margin: 20px auto;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  div {
    width: 400px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  div {
    width: 300px;
  }
}

